@model gu_s.ViewModel.StatusViewModel

<div class="row">
    <div class="span3">
        <h2>Check your ip</h2>

    <p>Your Ip is @Model.Ip</p>
    <p>Your country is @Model.Country</p>
    </div>
</div>

